<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Done</key>
	<string>完成</string>
	<key>No books in this folder</key>
	<string>资料夹内无书</string>
	<key>Loading...</key>
	<string>载入中...</string>
	<key>Cannot connect to Internet</key>
	<string>无法连接至网路</string>
	<key>Delete</key>
	<string>删除</string>
	<key>cancelled</key>
	<string>取消</string>
	<key>Download complete</key>
	<string>书 已下载</string>
	<key>Cancel</key>
	<string>取消</string>
	<key>(C) 2016 Brotherhood of Sts Apostoles Peter and Paul, Hong Kong.</key>
	<string>(C) 2016 香港圣彼得圣保罗教堂</string>
	<key>Options</key>
	<string>设置</string>
	<key>Author</key>
	<string>作者</string>
	<key>Add to Favorites</key>
	<string>我的最愛</string>
	<key>Date added</key>
	<string>出版日期</string>
	<key>Publisher</key>
	<string>出版社</string>
	<key>Number of pages</key>
	<string>页数</string>
	<key>Language</key>
	<string>语言</string>
	<key>Translator</key>
	<string>译者</string>
	<key>Read EPUB</key>
	<string>阅读EPUB文件</string>
	<key>Read PDF</key>
	<string>阅读PDF文件</string>
	<key>Download EPUB</key>
	<string>下载EPUB文件</string>
	<key>Details</key>
	<string>产品信息</string>
	<key>Download PDF</key>
	<string>下载PDF文件</string>
	<key>Favorites</key>
	<string>我的最愛</string>
	<key>Catalogue</key>
	<string>目录</string>
	<key>Orthodox Library</key>
	<string>正教图书图书馆</string>
</dict>
</plist>
