<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Remind me later</key>
	<string>稍後提醒我</string>
	<key>No, thanks</key>
	<string>不，謝謝</string>
	<key>If you enjoy using Orthodox Library, would you mind taking a moment to rate it? It won&apos;t take more than a minute. Thanks for your support!</key>
	<string>如果你喜歡使用正教圖書館，你介意花一點時間給它評分嗎？不會超過一分鐘。感謝您的支持！</string>
	<key>Rate Orthodox Library</key>
	<string>給正教圖書館評分</string>
	<key>Done</key>
	<string>完成</string>
	<key>No books in this folder</key>
	<string>資料夾內無书</string>
	<key>Loading...</key>
	<string>載入中...</string>
	<key>Cannot connect to Internet</key>
	<string>無法連接至網路</string>
	<key>Delete</key>
	<string>刪除</string>
	<key>cancelled</key>
	<string>取消</string>
	<key>Download complete</key>
	<string>书 已下載</string>
	<key>Cancel</key>
	<string>取消</string>
	<key>(C) 2017 Brotherhood of Sts Apostoles Peter and Paul, Hong Kong.</key>
	<string>(C) 2017 香港聖彼得聖保羅教堂</string>
	<key>Options</key>
	<string>設置</string>
	<key>Author</key>
	<string>作者</string>
	<key>Add to Favorites</key>
	<string>我的最愛</string>
	<key>Date added</key>
	<string>出版日期</string>
	<key>Publisher</key>
	<string>出版社</string>
	<key>Number of pages</key>
	<string>頁數</string>
	<key>Language</key>
	<string>語言</string>
	<key>Translator</key>
	<string>譯者</string>
	<key>Read EPUB</key>
	<string>閱讀EPUB文件</string>
	<key>Read PDF</key>
	<string>閱讀PDF文件</string>
	<key>Download EPUB</key>
	<string>下載EPUB文件</string>
	<key>Details</key>
	<string>產品信息</string>
	<key>Download PDF</key>
	<string>下載PDF文件</string>
	<key>Favorites</key>
	<string>我的最愛</string>
	<key>Catalogue</key>
	<string>目錄</string>
	<key>Orthodox Library</key>
	<string>正教圖書館</string>
</dict>
</plist>
